apiVersion: v1
kind: Secret
metadata:
  name: db-secret
type: Opaque
stringData:
  password: "secure_password_here"
  database_url: "postgres://hn_user:secure_password_here@postgres:5432/my_hn?sslmode=disable"
